*{
    box-sizing: border-box;
    margin:0; padding:0;
}
body{background-color: white;}
.bodyWrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.loginWrapper{
    display:grid; 
    grid-template-columns: 1fr 3fr 1fr;
}
.loginContentWrapper{
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
}
/* .profile{
    border: 1px solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
} */

